.mod-trash-man-modal {
  width: var(--modal-width);
  height: var(--modal-height);
  max-width: var(--modal-max-width);
  max-height: var(--modal-max-height);
}

.mod-trash-man-modal .modal-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  height: 90%;
}

.mod-trash-man-sidebar {
  flex-shrink: 0;
  width: 250px;
  height: 100%;
  border-right: 1px solid var(--background-modifier-border);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.mod-trash-man-search input {
  padding: 0.2em;
  width: 100%;
}

.mod-trash-man-items {
  height: 100%;
  overflow-y: scroll;
}

.mod-trash-man-item {
  padding: 0.2em;
  margin: 0.2em;
}

.mod-trash-man-item:hover {
  background-color: var(--background-modifier-hover);
}

.mod-trash-man-item.is-active,
.mod-trash-man-item.is-active:hover {
  background-color: var(--interactive-accent);
  color: var(--text-on-accent);
}

.mod-trash-man-content {
  overflow: scroll;
  flex-grow: 1;
  padding: .5em;
}

.mod-trash-man-file-preview {
  width: 100%;
}

.mod-trash-man-file-preview * {
  font-family: monospace;
  max-width: 100%;
}